.bundle
vendor/bundle
log/
tmp/
public/cache
public/assets
public/uploads
public/ckeditor_assets
public/tmp
public/sitemap*
db/schema.rb
spec/tmp/*
cache
bin
rerun.txt
.rspec
.sass-cache
.DS_Store
.idea
.ruby-gemset
couchdb.stdout
couchdb.stderr
q
cron.log
cron_error.log
.rvmrc